@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUpFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.fade-out {
    animation: slideUpFadeOut 0.5s forwards;
}
