@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUpFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.fade-out {
    animation: slideUpFadeOut 0.5s forwards;
}

.mapboxgl-ctrl-top-left {
    width: 100%;
    height: 50%; /* ルート案内部分を上半分に収める */
    overflow-y: scroll; /* 必要に応じてスクロール可能に */
    position: absolute;
    top: 0;
}
